::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}